<div style = "margin-top:20px;">
    <%= image_tag "logo.png", class: "logo" %>

    <% if @current_user.present? %>
      <div class="ui basic image label right floated">
      <h4>Hi, <%= @current_user.name %></h4>
    <% end %>
    </div>
</div>


<div class="ui buttons basic green right floated">

      <%= link_to root_path, class: "ui grey button" do %>Home

        <% if @current_user.present? %>
            <%= link_to "Order Lunch", lunches_path, class: "ui button" %>
          <%= link_to "Your Account", user_path(id: @current_user.id ), class: "ui button" %>
          <!--%= link_to "View Order", order_path(id: @current_user.id ), class: "u grey button" %-->
        <% end %>
        <% unless @current_user.present? %>
          <%= link_to "Sign In", signin_path, class: "ui button" %>
          <%= link_to "Sign Up", new_user_path, class: "ui button" %>
        <% else %>
          <%= link_to "Sign Out", signout_path, class: "ui button", method: "delete" %>
        <% end %>
        </div>
      <% end%>
      <br><br>

</div>
