<%= form_tag orders_path, method: "POST" do %>
<p><div class="ui right floated green segment" id="student-menu-name"><h3>Lunch order for  <span id="student-name"></span></h3></div><p>
  <div class="ui left floated green segment">
    <h2>Order lunch: </h2>


   <% if @students.any? %>
    <h4>Please select student before placing order</h4>
      <select name="student_id" id="std">
        <option>Choose Student</option>
        <%= @students.each do |student| %>
          <option value="<%= student.id %>"><%= student.name %></option>
        <% end %>
      </select>

    <% else %>

      <h4>You must add student first to order lunch</h4>
      <p><%= link_to "Add student", new_student_path, class: 'ui grey button' %></p>

    <% end %>

  </div>
<div><%#  "Place order", orders_path, class: "ui grey button" %></div>
<div>
  <br><br><br><br><br><br><input type="submit" value="Place Order" class="ui grey button right floated" /></div>
  <table class="ui celled striped table">

    <thead>
      <tr>
        <th>Qty</th>
        <th>Lunch</th>
        <th>Description</th>
        <!--th>Image</th-->
        <th>Price/unit</th>
        <th>Delivery Day</th>
      </tr>
        <tbody>
          <% @lunches.each_with_index do |lunch,i| %>
            <tr>
              <input name="line_items[<%= i %>][lunch_id]" value="<%= lunch.id %>" type="hidden" />
            <td>
              <select name="line_items[<%= i %>][qty]" id="qty" required>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </td>
            <td><%= lunch.lunchname %></td>
            <td><%= lunch.description %></td>
            <!--td><%= image_tag(lunch.image_url) %></td-->
            <td>$<%= lunch.price_in_dollars %></td>
            <td><select name="line_items[<%= i %>][day]" id="day" required>
              <option value="Select Day">Day</option>
              <option value="mon">Monday</option>
              <option value="tue">Tuesday</option>
              <option value="wed">Wednesday</option>
              <option value="thu">Thursday</option>
              <option value="fri">Friday</option>
            </select></td>
          </tr>
        <% end %>
        </tbody>
    </thead>
  </table>
<input type="submit" value="Place Order" class="ui grey button right floated" />
<%end%>

</div>
